h1{
    padding:0;
    margin:0;
    color: red;
}

p{
    padding:0;
    margin:0;
    color: rgb(157, 255, 0);
    font-style: italic;
}

.btn-lg{
    background-color: red;
    color: black;
    border-color: yellow;
}

.btn-light{
    background-color: black;
    color: red;
}